#Temporary shutdown Dll (due to custom engine)
Binaries/*
/Binaries

/DerivedDataCache
/Intermediate
#Intermediate/*
Plugins/*/Intermediate/*
.vscode/*
/Saved
/.vs
/Build
Build/*

# Disabling files that generates the project and Visual Studio
#*.lib
*.target
*.pdb
*.jar
*.sln
*.log
*.exe